body {
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
	box-sizing: border-box; /* Include padding and border in element's total width and height */
	background-color: #333; /* Set background color to dark gray */
	color: whitesmoke; /* Set text color to a light gray */
	font-family: "Orbitron", sans-serif; /* Use Orbitron font, fallback to sans-serif */
	font-weight: 400; /* Set font weight to normal */
	font-style: normal; /* Set font style to normal */
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  button {
	margin-bottom: 15px; /* Add space below buttons */
  }
  
  h1 {
	margin-left: 25px; /* Add left margin to headings */
  }
  
  .app-container {
	display: grid; /* Use Grid layout for centering */
	place-items: center; /* Center content both vertically and horizontally */
	min-height: 100vh; /* Ensure container takes at least full viewport height */
	margin: 0; /* Remove default margin */
	transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color changes */
  }
  
  .dark-mode {
	background-color: #333; /* Dark mode background color */
	color: whitesmoke; /* Dark mode text color */
  }
  
  .light-mode {
	background-color: white; /* Light mode background color */
	color: black; /* Light mode text color */
  }

  .menu-container {
	border: 7px solid black; /* Border around the menu */
	display: flex; /* Use flexbox for layout */
	justify-content: space-between; /* Space out items evenly */
	align-items: center; /* Center items vertically */
	border-radius: 25px; /* Rounded corners for menu */
	width: 650px;
  }

  