body {
	margin: 0; /* Remove default margin */
	padding: 0; /* Remove default padding */
	box-sizing: border-box; /* Include padding and border in element's total width and height */
	background-color: #333; /* Set background color to dark gray */
	color: whitesmoke; /* Set text color to a light gray */
	font-family: "Orbitron", sans-serif; /* Use Orbitron font, fallback to sans-serif */
	font-weight: 400; /* Set font weight to normal */
	font-style: normal; /* Set font style to normal */
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  button {
	margin-bottom: 15px; /* Add space below buttons */
  }
  
  h1 {
	margin-left: 25px; /* Add left margin to headings */
  }
  
  .app-container {
	display: grid; /* Use Grid layout for centering */
	place-items: center; /* Center content both vertically and horizontally */
	min-height: 100vh; /* Ensure container takes at least full viewport height */
	margin: 0; /* Remove default margin */
	transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color changes */
  }
  
  .dark-mode {
	background-color: #333; /* Dark mode background color */
	color: whitesmoke; /* Dark mode text color */
  }
  
  .light-mode {
	background-color: white; /* Light mode background color */
	color: black; /* Light mode text color */
  }

  /* .menu-container {
	border: 2px solid rgba(0, 0, 0, 0.3); 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
	display: flex; 
	justify-content: flex-start; 
	align-items: center; 
	border-radius: 25px; 
	width: 1000px;
	margin: 25px;
  } */

  .menu-container {
	border: 2px solid rgba(0, 0, 0, 0.3); /* Border around the menu */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow to images */
	border-radius: 25px; /* Rounded corners for menu */
	width: 1000px;
	margin: 25px;
  }

  .meal-category {
	margin: 50px;
	width: 75px;
  }

  .flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  }

  .flex-test {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
  }
  
  .image-style {
	width: 300px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	border: 5px solid black;
	border-radius: 25px;
	border: 2px solid rgba(0, 0, 0, 0.3); /* Border around the menu */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow to images */
	margin-top: 50px;
  }
  
  .translate-left {
	transform: translateX(-50px);
  }

  .background-color-gray {
	background-color: #bababa;
  }

  .border-radius-rounded {
	border-radius: 25px; /* Rounded corners for images */
  }
  